* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    background-color: #0B0B0B;
    font-family: 'VT323' ;
    color: white;
    display:flex;
    flex-flow: row wrap;
    width:100vw;
    height:100vh;
}
a {
    text-decoration: none;
    color:white;
}
a :hover {
    color:grey;
}
h4 {
    margin:0;
    padding:0;
    color:red;
    font-size:25px;
}
.map {
    background-color: #0b0b0b;
    width: 1000px;
    height: 1000px;
    position:relative;
    overflow:hidden;
}
.blueSquare {
    width: 200px;
    margin-left:50px;
    border: 2px solid blue;
    font-size:35px;
    text-align:right;
    border-radius: 10px;
    color:yellow;
    text-align:center;
}
.timer {
    width:200px;
    margin-left:50px;
    border: 2px solid blue;
    font-size:35px;
    text-align:right;
    border-radius: 10px;
}
img[src="assets/img/pacman.gif"] {
    position:absolute;
    top:400px;
    left:900px;
}
img[src="assets/img/redghost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
}
img[src="assets/img/orangeghost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
}
img[src="assets/img/blueghost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
}
img[src="assets/img/background.svg"] {
    position: absolute;
    top: 0;
    left: 0;
    width:1000px;
    height:1000px;
    z-index:5;
}
img[src="assets/img/logo_pacman.png"] {
    width:50%;
}
img[src="assets/img/pacman_and_ghosts.png"] {
    width:50%;
}
img[src="assets/img/green_pacman.svg"], img[src="assets/img/red_pacman.svg"], img[src="assets/img/yellow_pacman.svg"]{
    width:40px;
    left: 0;
}
.toRight {
    transform:scale(-1, 1);
}
.toLeft {
    transform:none;
}
.toTop {
    transform:rotate(90deg);
}
.toBottom {
    transform:rotate(-90deg);
}

.dot {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.dot::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6;
}

.submitUserName {
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    margin-left: 20px;
}

input[name='inputName']{
    border: 2px solid blue;
    width:80%;
    border-radius: 5px;
    height:30px;
    background-color: #0B0B0B;
    color:white;
    font-size: 35px;
    font-family: VT323;
    text-align: center;
}

.centered-block{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
    height:100vh;
    flex-flow:column wrap;
}
.game-block{
    display:none;
    width:100vw;
    height:100vh;
    flex-flow:row wrap;
}
.score_timer {
    height: 1000px;
    width:calc(100vw - 1000px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
}
.input-block{
    width:650px;
    height:200px;
    border: 2px solid blue;
    text-align:center;
    font-size:35px;
    border-radius: 15px;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:50px;
}
.input-block > h1 {
    margin:0px;
}

button[name='button_submit']{
    background-color: #0B0B0B;
    color:white;
    width:200px;
    font-size: 35px;
    font-family: VT323;
    border: 2px solid blue;
    border-radius: 5px;
}

.tableScore {
    display:none;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:100%;
    flex-flow:column wrap;
}
.tableScore *{
    
    font-size:40px;
}
table {
    border-spacing:0px;
}
td {
    border: 2px white solid;
    padding:5px;
    position:relative;
}
.td-first {
    padding-left:45px;
}
.tableScore > img {
    width:30%;
}
.endGame {
    width:100%;
    height: 100%;
    position: absolute;
    display:none;
    justify-content: center;
    align-items:center;
    z-index:999;
}
.game-over{
    background-color: black;
    width: 500px;
    height:300px;
    margin-left:50px;
    border: 2px solid blue;
    font-size:35px;
    text-align:right;
    border-radius: 10px;
    display:flex;
    flex-flow: column wrap ;
    justify-content: center;
    align-items:center;
}
button[id='end-button']{
    background-color: #0B0B0B;
    color:white;
    width:200px;
    font-size: 35px;
    font-family: VT323;
    border: 2px solid blue;
    border-radius: 5px;
}
form {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.pac-score {
    position: absolute;
    left:0px;
}










@media (orientation: portrait) and (max-width: 1000px){
    .map {
        width:100%;
        height:100vw;
    }
    img[src="assets/img/pacman.gif"] {
        top: calc(100vw * 500 / 1000);
        left: calc(100vw * 500 / 1000);
        padding: calc(100vw * 15 / 1000);
        width: calc(100vw * 100 / 1000);
    }
    img[src="assets/img/redghost.png"] {
        top: calc(100vw * 300 / 1000);
        left: calc(100vw * 400 / 1000);
        width: calc(100vw * 100 / 1000);
        padding: calc(100vw * 15 / 1000);
    }
    img[src="assets/img/orangeghost.png"] {
        top: calc(100vw * 300 / 1000);
        left: calc(100vw * 400 / 1000);
        width: calc(100vw * 100 / 1000);
        padding: calc(100vw * 15 / 1000);
    }
    img[src="assets/img/blueghost.png"] {
        top: calc(100vw * 300 / 1000);
        left: calc(100vw * 400 / 1000);
        width: calc(100vw * 100 / 1000);
        padding: calc(100vw * 15 / 1000);
    }
    img[src="assets/img/background.svg"] {
        width:100%;
        height:100vw;
    }
    .dot {
        width: calc(100vw * 100 / 1000);
        height: calc(100vw * 100 / 1000);
    }
    .dot::before {
        width: calc(100vw * 20 / 1000);
        height: calc(100vw * 20 / 1000);
    }
}

@media (orientation: landscape) and (max-height: 1000px){
    .map {
        width:100vh;
        height:100%;
    }
    img[src="assets/img/pacman.gif"] {
        top: calc(100vh * 500 / 1000);
        left: calc(100vh * 500 / 1000);
        padding: calc(100vh * 15 / 1000);
        width: calc(100vh * 100 / 1000);
    }
    img[src="assets/img/redghost.png"] {
        top: calc(100vh * 300 / 1000);
        left: calc(100vh * 400 / 1000);
        width: calc(100vh * 100 / 1000);
        padding: calc(100vh * 15 / 1000);
    }
    img[src="assets/img/orangeghost.png"] {
        top: calc(100vh * 300 / 1000);
        left: calc(100vh * 400 / 1000);
        width: calc(100vh * 100 / 1000);
        padding: calc(100vh * 15 / 1000);
    }
    img[src="assets/img/blueghost.png"] {
        top: calc(100vh * 300 / 1000);
        left: calc(100vh * 400 / 1000);
        width: calc(100vh * 100 / 1000);
        padding: calc(100vh * 15 / 1000);
    }
    img[src="assets/img/background.svg"] {
        width:100vh;
        height:100%;
    }
    .dot {
        width: calc(100vh * 100 / 1000);
        height: calc(100vh * 100 / 1000);
    }
    .dot::before {
        width: calc(100vh * 20 / 1000);
        height: calc(100vh * 20 / 1000);
    }
}
